<!-- app/views/movies/show.html.erb -->
<h1><%= @movie.title %></h1>
<p><%= @movie.description %></p>

<h2>Available Showtimes</h2>
<% @movie.showtimes.each do |showtime| %>
    <div>
      <% if showtime.time.present? %>
        <p><%= showtime.time.strftime("%B %d, %Y %I:%M %p") %></p>
      <% else %>
        <p>Time not available</p>
      <% end %>
      <%= link_to 'Reserve', movie_showtime_reservations_path(@movie, showtime), method: :post, class: "btn btn-primary" %>
    </div>
  <% end %>