<h1>Welcome to the Movie Reservation System</h1>
<h1>Movies</h1>
<%= link_to 'View Movies', movies_path %>
<h1>Showtimes</h1>
<%= link_to 'View Showtimes for a Movie', movie_showtimes_path(Movie.first) if Movie.any? %>