<!-- app/views/reservations/index.html.erb -->
<h1>Your Reservations</h1>

<% @reservations.each do |reservation| %>
  <div>
    <h2><%= reservation.showtime.movie.title %></h2>
    <p>Showtime: <%= reservation.showtime.time.strftime("%B %d, %Y %I:%M %p") %></p>
    <%= link_to 'Cancel Reservation', movie_showtime_reservation_path(reservation.showtime.movie, reservation.showtime, reservation), method: :delete, class: "btn btn-danger" %>
  </div>
<% end %>